{% extends "core/base.html" %}
    {% block conteudo %}
      <div class="jumbotron">
        <h1>Bem-vindo ao EventeX</h1>
        <p class="lead">O evento mais sensacional do ano depois do Dev in Rio! Você não pode perder esta oportunidade!</p>
        <a class="btn btn-large btn-success" href="/inscreverse/">Inscreva-se agora</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Dúvidas?</h4>
          <p>Para mais informações e tirar suas dúvidas, entre em contato com eventex@eventex.com.br.</p>

        </div>

        <div class="span6">
          <h4>Patrocinadores</h4>
          <p>Nope</p>
        </div>
      </div>
    {% endblock %}
